<dl class="worldwide">
  <dt>Worldwide</dt>
  <dd><strong class="sph"><%= @worldwide_sph %></strong> <%= sph_abbr %></dd>
</dl>

<dl class="personal">
  <dt>Personal</dt>
  <dd><strong class="sph"><%= @personal_sph %></strong> <%= sph_abbr %></dd>
</dl>

<form id="solution_new" action="/" method="post">
  <fieldset>
    <h2>Did Somebody Just Say It?</h2>
  	<dl>
  		<dt>
  			<label for="solution_email">Optional Email</label>
  		</dt>
  		<dd>
  			<input type="email" name="email" value="<%= params[:email] %>" />
  		</dd>
  	</dl>
  	<p>
  		<input type="submit" value="Somebody Said &ldquo;Solution&rdquo;" />
  	</p>
  </fieldset>
</form>